body {
    font-family: "Raleway", sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

.survol:hover {
    transform: scale(1.05);
}

footer {
    max-width: 1500px !important;
    padding: 2rem !important;
}

article {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

@media (min-width:800px) {
    .icon_img {
        flex-grow: 1;
    }
}


/*Pour les écrans de plus de 425px de largeur*/

@media (min-width: 425px) {
    .conteneur {
        width: 1440px;
        margin: auto;
    }
    body {
        margin: 0;
    }
    .header_header {
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .nav_header {
        display: flex;
        align-items: center;
        grid-area: navbar;
    }
    .icon_img {
        align-self: center;
        flex-grow: 1;
    }
    .boutons {
        display: flex;
        margin-bottom: auto;
        margin-top: auto;
    }
    .inscription {
        display: flex;
        align-items: center;
        grid-area: button;
        padding: 2rem;
        color: #0065FC;
        font-weight: 600;
    }
    .nav_header_categorie {
        padding: 2rem;
        text-decoration: none;
    }
    .nav_header_inscription {
        padding: 2rem;
        text-decoration: none;
        color: #0065FC;
    }
    .inscription {
        padding: 2rem;
        text-decoration: none;
    }
    .header_recherche {
        display: block;
    }
    .recherche h1 {
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: black;
        font-style: normal;
    }
    .logo {
        margin-bottom: auto;
        margin-top: auto;
    }
    .icone {
        background-color: #F2F2F2;
        padding: 1rem 1rem;
        border-radius: 1rem 0 0 1rem;
    }
    form {
        display: inline-flex;
    }
    .input {
        border-right: none;
        border-left: none;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
    .wrap_icone_filtre {
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        min-height: 3.5rem;
        min-width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .filtre_titre {
        padding: 0 1rem;
    }
    .filtre {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        border: 2px solid #DEEBFF;
        border-radius: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
        cursor: pointer;
    }
    .filtres {
        display: flex;
        margin-top: 2rem;
        align-items: baseline;
    }
    .filtres_liste {
        display: inline-flex;
    }
    .icon_color {
        color: #0065FC
    }
    .result_details {
        margin-left: 1rem;
    }
    .result {
        display: flex;
        align-items: baseline;
    }
    .icon_result {
        border: 1px solid #DEEBFF;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        display: flex;
        min-width: 2rem;
        min-height: 2rem;
        align-items: center;
        justify-content: center;
    }
    .hebergement_marseille {
        background-color: #F2F2F2;
        border-radius: 1rem;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    .populaires {
        background-color: #F2F2F2;
        border-radius: 1rem;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }
    .populaire_titre {
        display: flex;
        justify-content: space-between;
    }
    .hebergements {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 6fr 3fr;
        margin-top: 2rem;
    }
    .article_hebergement {
        background-color: white;
        border-radius: 1rem;
        padding: 5px;
    }
    .image {
        height: 7rem;
        width: 100%;
        object-fit: cover;
        max-width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .titre_article {
        margin: 5px 0 0 10px;
    }
    .fas[data-active="true"] {
        color: #0065FC;
    }
    .fas[data-active="false"] {
        color: #DEEBFF
    }
    .more {
        margin: 2rem 0 0 0;
        font-weight: 600;
    }
    .image_populaire_details {
        height: 8rem;
        width: 11rem;
        object-fit: cover;
        max-width: 8rem;
        border-radius: 1rem 0 0 1rem;
    }
    .article_populaire {
        background-color: white;
        border-radius: 1rem;
        padding: 5px;
    }
    .populaire_card {
        display: flex;
    }
    .articles_populaires {
        display: grid;
        row-gap: 2rem;
    }
    .icon_populaires {
        float: right;
    }
    .details_populaire {
        display: grid;
    }
    .rating_populaire {
        margin: auto 0 0 10px;
    }
    .header_activite {
        font-weight: 600;
    }
    .activites {
        margin: 4rem 0 4rem 0;
    }
    .activite_card_unique {
        display: flex;
        flex-direction: column;
        height: 100%
    }
    .activite_card_double {
        display: flex;
        flex-direction: column;
        height: 100%
    }
    .titre_activite {
        font-weight: 600;
        margin-left: 1rem;
    }
    .article_activite {
        border-radius: 1rem;
        inline-size: fit-content;
        width: 90%;
        margin: 1rem auto 1rem auto;
    }
    .image_activite_petite {
        border-radius: 1rem 1rem 0 0;
        height: 190px;
        max-width: 100%
    }
    .image_activite_moyenne {
        border-radius: 1rem 1rem 0 0;
        height: 270px;
        object-fit: cover;
        max-width: 100%;
    }
    .image_activite_grande {
        border-radius: 1rem 1rem 0 0;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
    }
    footer {
        background-color: #F2F2F2;
    }
    .nav_footer {
        display: flex;
    }
    .titre_footer {
        font-weight: 600;
    }
    .list_footer {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 2;
    }
    .list_titre {
        font-size: 18px;
    }
    .section_footer {
        flex: 1;
    }
}


/* width > 1024px */

@media (min-width:1024px) {
    body {
        margin: 0;
    }
    .wrapper {
        padding: 0 1rem 0 1rem;
    }
    .nav_header_categorie[data-active="true"] {
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }
    .bouton_rechercher {
        background-color: #0065FC;
        padding: 0 1rem;
        border-radius: 0 1rem 1rem 0;
        border: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }
    .rechercher {
        font-size: 1rem;
        font-weight: bold;
    }
    .icone_rechercher {
        display: none;
    }
    .bouton_rechercher i {
        display: none;
    }
    .survol:hover {
        transform: scale(1.05);
    }
    .articles_hebergement {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3rem;
        column-gap: 2rem;
    }
    .activites {
        margin: 4rem 0 4rem 0;
    }
    .activite {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }
    .activite_card_unique {
        display: flex;
        flex-direction: column;
        height: 100%
    }
    .activite_card_double {
        display: flex;
        flex-direction: column;
        height: 100%
    }
    .titre_activite {
        font-weight: 600;
        margin-left: 1rem;
    }
    .article_activite {
        border-radius: 1rem;
        inline-size: fit-content;
        width: 100%;
        margin: 1rem auto 1rem auto;
    }
    .double {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


/* 426px < width < 1023px */

@media (min-width:426px) and (max-width:1023px) {
    body {
        margin: 0;
        width: fit-content;
    }
    .articles_hebergement {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 2rem;
    }
    .header_header {
        display: flex;
        flex-wrap: wrap;
    }
    .nav_header {
        display: flex;
        align-items: center;
        order: 1;
        width: 100%;
        height: 53px;
        justify-content: space-between;
    }
    .icon_img {
        align-self: center;
        flex-grow: 1;
        margin-left: 1rem;
    }
    .boutons {
        display: flex;
        margin-bottom: auto;
        margin-top: auto;
    }
    .inscription {
        display: flex;
        align-items: center;
        grid-area: button;
        padding: 2rem;
        color: #0065FC;
        font-weight: 600;
    }
    .nav_header_categorie {
        text-decoration: none;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
    }
    .nav_header_inscription {
        padding: 2rem;
        text-decoration: none;
        color: #0065FC;
    }
    .nav_header_categorie[data-active="true"] {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    .inscription {
        padding: 2rem;
        text-decoration: none;
    }
    .hebergements {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 2rem;
    }
    .hebergement_marseille {
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
    }
    .activite {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .filtre {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: 1rem;
        border: 2px solid #DEEBFF;
        border-radius: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
        cursor: pointer;
    }
    .filtres {
        display: flex;
        margin-top: 2rem;
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .filtres_liste {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }
    .image_populaire_details {
        height: 8rem;
        width: 11rem;
        object-fit: cover;
        border-radius: 1rem 0 0 1rem;
    }
    .bouton_rechercher_icone {
        background-color: #0065FC;
    }
    .icone_rechercher {
        color: white;
    }
    .bouton_rechercher {
        background-color: #0065FC;
        padding: 0 1rem;
        border-radius: 1rem;
        border: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }
    .rechercher {
        display: none;
    }
    .recherche {
        padding: 1rem;
        margin-top: 1rem;
    }
    .activite article {
        width: 100%;
    }
    .populaires {
        border-radius: 0;
    }
    .activites {
        padding: 1rem;
    }
    .image_activite_petite {
        border-radius: 1rem 1rem 0 0;
        height: 14rem;
        object-fit: cover;
        width: auto;
    }
    .image_activite_moyenne {
        border-radius: 1rem 1rem 0 0;
        height: 14rem;
        object-fit: cover;
        width: auto;
    }
    .image_activite_grande {
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        width: auto;
    }
    .article_activite {
        border-radius: 1rem;
        inline-size: fit-content;
        margin: 1rem auto 1rem auto;
    }
    .nav_footer {
        flex-direction: column;
    }
}


/*Pour les écrans de moins de 599px de largeur*/

@media (max-width: 425px) {
    body {
        width: fit-content;
        margin: 0;
    }
    .conteneur {
        width: 425px;
        margin: auto;
    }
    .header_header {
        display: flex;
        flex-wrap: wrap;
    }
    .nav_header {
        display: flex;
        align-items: center;
        order: 1;
        width: 100%;
        height: 53px;
        justify-content: space-between;
    }
    .icon_img {
        align-self: center;
        flex-grow: 1;
        margin-left: 1rem;
    }
    .boutons {
        display: flex;
        margin-bottom: auto;
        margin-top: auto;
    }
    .inscription {
        display: flex;
        align-items: center;
        grid-area: button;
        padding: 2rem;
        color: #0065FC;
        font-weight: 600;
    }
    .nav_header_categorie {
        text-decoration: none;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
    }
    .nav_header_inscription {
        padding: 2rem;
        text-decoration: none;
        color: #0065FC;
    }
    .inscription {
        padding: 2rem;
        text-decoration: none;
    }
    .recherche {
        width: 95%;
        margin: 2rem auto auto auto;
    }
    .header_recherche {
        display: block;
    }
    .recherche h1 {
        margin-bottom: 10px;
        font-size: 29px;
        margin-top: 10px;
    }
    .recherche p {
        margin-top: 11px;
        font-size: 18px;
    }
    .bouton_rechercher_icone {
        background-color: #0065FC;
    }
    .icone_rechercher {
        color: white;
        font-size: 17px;
    }
    .bouton_rechercher {
        background-color: #0065FC;
        border-radius: 1rem;
        border: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rechercher {
        display: none;
    }
    a {
        text-decoration: none;
        color: black;
        font-style: normal;
    }
    .logo {
        margin-bottom: auto;
        margin-top: auto;
    }
    .icone {
        background-color: #F2F2F2;
        min-width: 56.36px;
        border-radius: 1rem 0 0 1rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form {
        display: inline-flex;
        width: 100%;
        height: 50px;
    }
    .input {
        border-right: none;
        border-left: none;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        font-size: 1rem;
        font-weight: bold;
        flex: 1;
        padding-left: 5px;
    }
    .filtre_texte {
        font-size: x-large;
    }
    .wrap_icone_filtre {
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .filtre_titre {
        padding: 0 0.6rem;
        font-size: 18px;
    }
    .filtre {
        display: flex;
        align-items: center;
        border: 2px solid #DEEBFF;
        border-radius: 3rem;
        margin-bottom: 1rem;
        font-weight: bold;
        cursor: pointer;
        margin-right: 0.3rem;
    }
    .filtres {
        display: flex;
        margin-top: 2rem;
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .filtres_liste {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }
    .icon_color {
        color: #0065FC
    }
    .result_details {
        margin-left: 1rem;
    }
    .result {
        display: flex;
    }
    .icon_result {
        border: 1px solid #DEEBFF;
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
        display: flex;
        min-width: 3rem;
        min-height: 3rem;
        align-items: center;
        justify-content: center;
        font-size: x-large;
    }
    .populaires {
        background-color: #F2F2F2;
        padding: 1rem;
    }
    .hebergements {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 2rem;
    }
    .hebergement_titre {
        font-size: 25px;
        font-weight: bold;
        margin-left: 1rem;
    }
    .article_hebergement {
        margin-bottom: 2rem;
        border-radius: 1rem;
        padding: 5px;
        margin-left: 1rem;
        margin-right: 1rem
    }
    .image {
        height: 8rem;
        width: 40rem;
        object-fit: cover;
        max-width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .hebergement_marseille {
        margin: auto;
    }
    .titre_article {
        margin: 5px 0 0 10px;
        font-size: 17px;
    }
    .fas[data-active="true"] {
        color: #0065FC;
    }
    .fas[data-active="false"] {
        color: #DEEBFF
    }
    .more {
        margin: 2rem 0 0 1rem;
        font-weight: 600;
        font-size: 20px;
    }
    .nav_header_categorie[data-active="true"] {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    .image_populaire_details {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        max-width: 100%;
        border-radius: 1rem 0 0 1rem;
        min-width: 10rem;
    }
    .article_populaire {
        background-color: white;
        border-radius: 1rem;
        padding: 5px;
    }
    .populaire_card {
        display: flex;
    }
    .populaire_titre {
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        font-weight: bold;
    }
    .articles_populaires {
        display: grid;
        row-gap: 2rem;
    }
    .icon_populaires {
        float: right;
    }
    .details_populaire {
        display: grid;
        padding: 10px;
    }
    .rating_populaire {
        margin: auto 0 0 10px;
        font-size: 18px;
    }
    .header_activite {
        font-weight: 600;
        font-size: x-large;
        margin-left: 1rem;
    }
    .activites {
        margin: 4rem 0 4rem 0;
    }
    .activite {
        display: flex;
        flex-direction: column;
    }
    .activite_card_unique {
        display: flex;
        flex-direction: column;
        height: 100%
    }
    .activite_card_double {
        display: flex;
        flex-direction: column;
        height: 100%
    }
    .titre_activite {
        font-weight: 600;
        margin-left: 1rem;
    }
    .double {
        display: flex;
        flex-direction: column;
    }
    .article_activite {
        border-radius: 1rem;
        inline-size: fit-content;
        width: 90%;
        margin: 1rem auto 1rem auto;
    }
    .image_activite_petite {
        border-radius: 1rem 1rem 0 0;
        height: 14rem;
        object-fit: cover;
    }
    .image_activite_moyenne {
        border-radius: 1rem 1rem 0 0;
        height: 14rem;
        object-fit: cover;
    }
    .image_activite_grande {
        border-radius: 1rem 1rem 0 0;
        height: 14rem;
        object-fit: cover;
    }
    footer {
        background-color: #F2F2F2;
    }
    .nav_footer {
        padding: 5%;
    }
    .titre_footer {
        font-weight: 600;
    }
    .list_footer {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 2;
    }
    .list_titre {
        font-size: 18px;
    }
}